<ul class="treenodes">
  <li *ngFor="let node of Nodes" class="treenode">
    <i *ngIf="!node.isLeaf" class="nodebutton fa fa-{{node.isExpanded ? 'minus' : 'plus'}}-square-o"
       (click)="onExpand(node)">
    </i>
    <div class="nodeinfo">
      <i *ngIf="node.isLeaf" class="nodeicon fa fa-file-o"></i>
      <i *ngIf="!node.isLeaf" class="nodeicon fa fa-tags"></i>

      <span class="nodetext {{node == SelectedNode ? 'bg-info' : ''}} {{node.parent ? '' : 'text-root'}}"
            (mouseenter)="onSelectNode(node)" (mouseleave) ="onSelectNode(null)">
						{{node.name}}
					</span>

      <app-tree-view [Nodes]="node.children"
                 [SelectedNode]="SelectedNode"
                 (onSelectedChanged)="onSelectNode($event)"
                 (onRequestNodes)="onRequestLocal($event)"
                 *ngIf="node.isExpanded">
      </app-tree-view>
    </div>
  </li>
</ul>
